{{#each this}}
<div class="photo-card">
    <a href="{{largeImageURL}}">
        <img src="{{webformatURL}}" alt="{{tags}}" class="gallery-image" loading="lazy" />
    </a>
    <div class="info">
        <p class="info-item">{{likes}}
            {{!-- <b>${icons.likes}</b> --}}
        </p>
        <p class="info-item">{{views}}
            {{!-- <b>${icons.views}</b> --}}
        </p>
        <p class="info-item">{{comments}}
            {{!-- <b>${icons.comments}</b> --}}
        </p>
        <p class="info-item">{{downloads}}
            {{!-- <b>${icons.downloads}</b> --}}
        </p>
    </div>
</div>





{{!-- ======================================================================= --}}
{{!-- <div class="photo-card">
<a class='gallery__link' href='{{largeImageURL}}'>
    <div class='gallery-item' id='{{id}}'>
        <img class='gallery-item__img' src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
        <div class='info'>
            <p class='info-item'><b>Likes</b>{{likes}}</p>
            <p class='info-item'><b>Views</b>{{views}}</p>
            <p class='info-item'><b>Comments</b>{{comments}}</p>
            <p class='info-item'><b>Downloads</b>{{downloads}}</p>
        </div>
    </div>
</a> --}}
{{/each}}






